@use "exploration-card-deck";
@use "hero-profile";
@use "tokens";

.bct-campaign {
  padding: 0 16px;

  h2 {
    margin-top: 8px;
  }

  &__help-text {
    font-size: 12px;
    font-style: italic;
    opacity: 0.87;
  }

  &__wrap-list {
    margin: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }
}
