@use "hero-profile";

.bct-campaign {
  padding: 0 16px;

  &__consumable-token-bar {
    display: flex;
    flex-wrap: wrap;
  }

  &__consumable-token-group {
    margin: 8px 16px;
    display: flex;
    gap: 8px;
  }

  &__consumable-token {
    &--exhausted {
      opacity: 0.38;
    }
  }
}
